button {
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
}

.header,
.hero {
  background-color: #1f2937;
  color: white;
}

h1,
p {
  font-family: "Roboto";
}

.logo_section h1 {
  font-size: 24px;
}

/* .flex-container div {
  border: 1px solid rgb(226, 32, 32);
} */

.body,
.html {
  height: 100%;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.left_side h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.left_side p {
  font-size: 18px;
  color: #e5e7eb;
}

.rectangle {
  width: 200px;
  height: 200px;
  border: 1px solid blue;
  border-radius: 20px;
}
