button {
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
}

.header,
.hero {
  background-color: #1f2937;
  color: white;
}

h1,
p {
  font-family: "Roboto";
}

.flex-container div {
  border: 1px solid rgb(226, 32, 32);
}

.body,
.html {
  height: 100%;
}
