.flex-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 280px;
  gap: 40px;
}

.header > * {
  flex: 1;
}

.nav-list {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding: 10px 280px;
}

.hero > * {
  flex: 1;
}

.right_side {
  display: flex;
  justify-content: flex-end;
}
