.flex-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 280px;
  gap: 40px;
}

.header > * {
  flex: 1;
}

.nav-list {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding: 100px 280px;
}

.hero > * {
  flex: 1;
}

.right_side {
  display: flex;
  justify-content: flex-end;
}

.quote_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 550px;
}

.info_section {
  padding: 0px 200px 80px 200px;
}

.info_rectangles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 10px 200px;
}

.info_texts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.cta {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px 100px;
}

.cta > * {
  flex: 1;
}

.cta_button {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  padding: 50px 280px;
}

.footer_items {
  flex: 1;
  align-self: center;
  text-align: center;
}
